html {
    height: 100%;
}

body {
    background-color: rgb(231, 168, 106);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main {
    text-align: center;
}

#datetime {
    background-color: rgb(218, 229, 104);
    width: 300px;
    margin: auto;
    border: 1px solid grey;
}